@charset "utf-8";

@font-face {
    font-family: 'Hallym';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Hallym';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Medium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Hallym';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/Hallym-Bold.ttf') format("truetype");
    font-display: swap;
}

* {
    font-family: "Hallym";
    margin: auto 0;
    padding: 0;
}



.logo {
    display: flex !important;
    align-items: center !important;
    height: 70px !important;
}

.menu {
    font-size: 14pt;
}

.menu:hover {
    color: #F64A00;
}


/* 태블릿 992px 미만 적용 미디어쿼리 */
/* 0.02px을 빼는 이유 : 브라우저는 현재 범위 컨텍스트 쿼리를 지원하지 않기 때문에 더 높은 정밀도의 값을 사용하여 분수 너비(ex:높은 dpi기기의 특정 조건에서 발생 할 수 있음)가 있는 min-, max- 접두사 및 뷰포트의 제한 사항을 해결하기 위해서임. */
/* 초소형 세로폰 : 576px 미만, max-width: 575.98px 
   소형 가로폰 : 768px 미만, max-width: 767.98px
   데스크탑 PC : 1200px 미만, max-width: 1199.98px 
   대형 데스크탑 PC : 1400px 미만, max-width: 1399.98px*/



@media (max-width: 1100px) {

    .diagonal {
        height: 800px !important;
        margin-left: 350px !important;
    }

    .textpart {
        margin-top: 330px !important;
        font-size: 30pt !important;
    }

    .circle {
        width: 100px;
        position: absolute;
        margin-top: 380px !important;
        margin-left: -380px;
        /* border: 1px solid violet; */
    }

    .side {
        border-left: 0px solid #F64A00 !important;
        /* margin-bottom: 150px; */
    }

    .line1 {
        padding-top: 50px;
        display: block !important;
    }

    .top_hr {
        width: 100% !important;
    }

    .hr2 {
        width: 100% !important;
    }

    .footer {
        margin-right: 10px !important;
    }


}



@media (max-width: 757.98px) {

    .logo img {
        width: 380px !important;
    }

    .diagonal {
        height: 430px !important;
        margin-left: 190px !important;
    }

    .textpart {
        font-size: 20pt !important;
        margin-top: 200px !important;
        letter-spacing: -3.8px !important;
    }

    .circle {
        width: 70px !important;
        position: absolute;
        margin-top: 150px !important;
        margin-left: -170px !important;
    }

    .time {
        font-size: 20pt;
        margin-top: 100px !important;
        margin-left: 10px;
        position: absolute;
        display: inline-block;

    }

    .mainimg {
        width: 90%;
        display: inline-block;
        margin-top: 150px !important;
        margin-bottom: 30px;
    }

    #Box {
        width: 360px !important;
        height: 546px !important;
    }

    .navbar-nav {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .footer {
        font-size: 15pt !important;
        margin-right: 20px !important;
    }
}

.line {
    /* border: 1px solid green; */
    margin: auto;
    margin-top: 50px;
    width: 85%;
    text-align: center;

}

.line1 {
    padding-top: 50px;
    display: none;
}

.bg-light {
    background-color: #ffffff !important;
    margin-top: 30px;
}

menu:hover {
    color: #F64A00 !important;
}

.top_hr {
    border: 1px solid #F64A00;
    margin: auto;
    width: 80%;
    top: 30px;
}

.bg-body-tertiary {
    background-color: transparent !important;
}

/* .hr {
    border: 1px solid #F64A00;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
} */


.diagonal {
    width: 2px;
    height: 935px;
    background-color: #F64A00;
    transform: rotate(70deg);
    margin-bottom: -92px;
    margin-left: 425px;
    z-index: -1;
    position: absolute;
}

.textpart {
    display: inline-block;
    z-index: 2;
    text-align: right;
    font-size: 30pt;
    margin-top: 430px;
    float: right;
    letter-spacing: -4.5px;
    /* border: 1px solid blue; */
}

.textpart a {
    color: black;
}

.textpart a:hover {
    color: #F64A00;
}

.circle {
    width: 100px;
    position: absolute;
    margin-top: 420px;
    margin-left: -380px;
    /* border: 1px solid violet; */
}


.time {
    font-size: 20pt;
    margin-top: 250px;
    margin-left: 10px;
    position: absolute;
    display: inline-block;

}

.mainimg {
    width: 90%;
    display: inline-block;
    margin-top: 300px;
    margin-bottom: 30px;
}

.time img {
    margin-right: 20px;
}

.side {
    border-left: 2px solid #F64A00;
    /* margin-bottom: 150px; */
}

#Box {
    width: 400px;
    height: 586px;
    background: url(./Groupimg.svg) no-repeat 0 0;
    animation: box 2.5s steps(7) infinite;
}

@keyframes box {
    from {
        background-position: 0 0
    }

    to {
        background-position: -2800px 0
    }
}

/* 여기는 푸터 */
.hr2 {
    border: 1px solid #F64A00;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.footer {
    float: right;
    margin-right: 160px;
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #9D9D9D;
}